
body
{
    background-color: black;
    color: white;
}

/*
{
   margin-top: 10px; /* Marge extérieure de 50px */
 /*  margin-left: 20px; /* Marge extérieure de 50px */
/*}*/


textarea
{
overflow: auto;
}

#conteneur_header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#aside_header
{
font-size: 1.9em;
font-weight: bold;
text-align: center;
margin-left: 20px;
}

#conteneur
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


/*
margin: auto;
margin-top: 20px;
#dialogue_conteneur
{
display: flex;
justify-content: center;
margin-top: 20px;
}

#msg_conteneur
{
display: flex;
justify-content: center;
margin-top: 20px;
}


#google
{
 margin: 0 auto
}
*/

#conteneur_footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}